<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Perfil
    </ion-title>
      <ion-buttons slot="start" class="btm-menu">
        <ion-button (click)="abrirmenu()">
          <ion-icon slot="icon-only" color="primary" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card class="welcome-card" color="dark">
    <ion-img src="/assets/logo_duoc-01.jpg"></ion-img>
    <ion-card-content>
    <ion-card-header >
      <ion-card-title class="titulo"><h5>Maicol Avila</h5></ion-card-title>

      <ion-card-subtitle class="subtitulo"><p>Run</p>
                          <p>20.034.213-6</p>
                          <br>
                         <ion-buttons class="btn-lvl">
                           <ion-button >
                            <ion-icon  name="aperture-outline"></ion-icon>
                           </ion-button>
                         </ion-buttons>
                        </ion-card-subtitle>
                      </ion-card-header>
                  </ion-card-content>
                </ion-card>
                <div class="wrapper">
                  <div class="icon facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <div class="tooltip">Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                  </div>

                  <div class="icon twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <div class="tooltip">Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                  </div>


                  <div class="icon instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <div class="tooltip">Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                  </div>

                  <div class="icon github">
                    <ion-icon name="logo-github"></ion-icon>
                    <div class="tooltip">Github</div>
                    <span><i class="fab fa-github"></i></span>
                  </div>
                </div>


</ion-content>

